@use '../../styles/placeholder' as *;

.modalContainer{
    background-color: #181718;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 0;
    text-align: center;
    padding: 0 2vw;
    padding-bottom: 40vw;
    img{
        width: 32px;
        height: 32px;
        position: absolute;
        right: 2%;
        top: 1%;
    }
    h1{
        @extend %starwars;
        font-size: 9vw;
        margin-top: 15vw;
        text-align: center;
        color: white;
        text-shadow: 1px 1px 2px #a104da, 0 0 1em #a104da, 0 0 0.2em #a104da;
        letter-spacing: 2px;
    }
    h2{
        margin: 0;
        font-size: 7vw;
    }
    h3{
        font-size: 5vw;
        margin: 2vw 0;
        span{
            color:#ebb4ff;
        }
    }
    h4{
        margin: 0;
        margin-top: 8vw;
        font-size: 6vw;
        color:#ebb4ff;
    }
    p{
        margin: 0;
        margin-top: 2vw;
        font-size: 5vw;
        padding-bottom: 10vw;
    }

    @media (min-width: 1000px){
    margin-top: 3vw;
    max-width: 50vw;
    left: 50%;
    transform: translate(-50%);
    padding: 0 10vw;
    padding-bottom: 0vw;
    img{
        width: 48px;
        height: 48px;
        right: 2%;
        top: 1%;
    }
    h1{
        font-size: 3vw;
        margin-top: 5vw;
        letter-spacing: 2px;
    }
    h2{
        font-size: 2vw;
    }
    h3{
        font-size: 1.5vw;
        margin: 2vw 0;
    }
    h4{
        margin-top: 2vw;
        font-size: 1.5vw;
    }
    p{
        margin-top: 2vw;
        font-size: 1.5vw;
        padding-bottom: 8vw;
    }
    }
}